name: deploy the application

on:
  workflow_run: 
    workflows: ["continuous integration"]
      types: 
        - completed
      branches: ["main"] 
  workflow_dispatch:

jobs:
  deploy-application:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
      - name: deploy
        run: echo "deploy the application"
        shell: bash