name: deploy the application

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: deploy
        run: echo "deploy the application"
        shell: bash